<div *ngIf="!cargando" class="card-deck">

    <app-acta-tarjeta [acta]="acta" *ngFor="let acta of _as.actas"></app-acta-tarjeta>

</div>

<div class="row animated fadeIn fast" *ngIf="_as.actas.length == 0 && !cargando">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        No existen resultados con el centro de votación: <strong>{{ centroVotacion }}</strong>
      </div>
    </div>
  </div>

<div *ngIf="cargando" class="text-center">
    <div class="spinner-grow text-primary m-5" style="width: 15rem; height: 15rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>