<nav class="navbar navbar-dark navbar-color">
        <a class="navbar-brand">
            <img class="img-responsive" src="../../../../assets/imgs/new_logo.png" >
        </a>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar Acta" (keyup)="buscarActa(buscarTexto.value)" #buscarTexto>
        <button (click)="buscarActa(buscarTexto.value)"
            class="btn boton-color my-2 my-sm-0" type="button">Buscar</button>
    </form>
</nav>
