<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="actas.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el término: <strong>{{ termino }}</strong>
    </div>
  </div>
</div>


<div class="card-deck">

  <app-acta-tarjeta [acta]="acta" *ngFor="let acta of actas"></app-acta-tarjeta>

</div>