/* You can add global styles to this file, and also import other style files */
body{
    padding-bottom: 50px;
  }
  
  .main-container{
    margin-top: 20px;
  }
  
  .img-logo{
      width: 120px;
  }
  
  .navbar-color {
    background-color: #12390c;
  }
  
  .boton-color{
    background-color: #97b90e;
    color: #fff
  }
  
  /* Animaciones */
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  