<div class="card animated fadeIn fast border-succes shadow p-1 mb-3 " style="max-width: 18rem;">
    <div class="card-header navbar-color text-white text-center">{{ acta }}</div>
    
    <a href="../../assets/imgs/{{acta}}.jpg" data-toggle="lightbox">
        <img class="card-img-top img-fluid" src='../../assets/imgs/{{acta}}.jpg'>
    </a>
    
</div>
